/* Tailwind CSS */
@import './tailwind.css';

/* Theme */
@import './theme.css';

/* Slick Carousel */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* Custom Slick Carousel Styles */
.slick-dots li button:before {
  display: none;
}

.slick-dots li {
  margin: 0;
  width: auto;
  height: auto;
}

.slick-dots li.slick-active div {
  background-color: white !important;
  width: 1.5rem;
}

.slick-slider {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
